<div class="close-bar d-flex justify-content-between align-items-center">
    <div class="ms-2 close-heading">
     Recycle Bin
    </div>
    <div class="d-flex align-items-center">
    <button class="me-2 btn-cross"><span class="material-symbols-outlined">minimize</span></button>
    <button class="me-2 btn-cross"><span class="material-symbols-outlined">crop_square</span></button>
    <button class="me-2 btn-cross"><span class="material-symbols-outlined" [routerLink]="['/desktop']" routerLinkActive="router-link-active" >close</span></button>
    </div>
</div>

<div>
<div class="row">
<div class="files col-1" *ngFor="let item of deletes; track: item; let i = index" (click)="viewDrafts(i)">
    <ul class="d-flex align-items-center justify-content-start">
        <li class="d-flex flex-column align-items-center justify-content-center me-5">
            <span class="material-symbols-outlined">
             folder_open
             </span>
            <span>{{item.PostName}}</span>
        </li>
    </ul>
</div>
</div>

<div id="modal" class="modal" *ngIf="isDraft">
    <div class="browser-post d-flex justify-content-center p-4">
      <div class="browser-wrapper">
        <div class="browser-window">
          <!-- Post Header -->
        <div class="browser-header d-flex justify-content-between align-items-center">
                <div class="d-flex">
                <div class="profile-photo me-2 ms-2">
                </div>
                <div class="user">
                  <div class="big-font">{{ deletes[index].Username}}</div>
                  <div class="small-font">{{ deletes[index].CreatedAt | date:'short'}}</div>
                </div>
            </div>
            <div class="d-flex">
              <button class="btn-cross me-2"><span class="material-symbols-outlined" (click)="Restore(deletes[index].PostID)">restart_alt</span></button>
              <button class="btn-cross me-2"><span class="material-symbols-outlined" (click)="Delete(deletes[index].PostID)">delete</span></button>

            </div>
          
        </div>

        <!-- Post Body -->
        <div class="browser-content">       
        <div class="content">
            <div class="title mb-2 big-font">
                <span class="light">&lt;title&gt;</span> {{deletes[index].PostTitle}} <span class="light">&lt;/title&gt;</span>
            </div>
            <div class="body d-flex">
                <div class="img"><img [src]="getBase64Image(deletes[index].PostPhoto)"></div>
                <div class="description ms-2 medium-font">
                <span class="light">&lt;body&gt;</span>
                {{deletes[index].PostDescription}}
                <span class="light">&lt;/body&gt;</span>
            </div>
            </div>
            <div class="categories mt-2">
                <ul class="list-cat d-flex medium-font">
                     <li *ngFor="let cat of deletes[index].Categories.split(', ')">{{ cat }}</li>
                </ul>
            </div>
        </div>
        </div>
        </div>
        
      <div class="browser-shadow"></div>

      <div class="browser-shadow second"></div>
      </div>
        </div>



</div>
</div>







