<!-- <div>Background</div> -->

<!-- <div>Choose a background</div> -->

<!-- <h1>Select Font</h1> -->


<div class="main">

<h3 class="mb-4">Display Settings</h3>

<div class="mb-4">
  <h4 class="mb-2">Select Theme:</h4>
  <div class="d-flex align-items-center justify-content-start">
  <button class="app-btn blue me-2" (click)="setTheme('default')">Theme-1</button>
  <button class="app-btn pink me-2" (click)="setTheme('theme-2')">Theme-2</button>
  <button class="app-btn yellow" (click)="setTheme('theme-3')">Theme-3</button>
  </div>
</div>

<div>
  <h4 class="mb-2">Select Mode:</h4>
  <div class="d-flex align-items-center justify-content-start">
  <button class="app-btn light me-2" (click)="setMode('light')">Light</button>
  <button class="app-btn dark" (click)="setMode('dark')">Dark</button>
  </div>
</div>

</div>

