<div class="close-bar d-flex justify-content-between align-items-center">
    <div class="ms-2 close-heading">
     Help
    </div>
    <div class="d-flex align-items-center">
    <button class="me-2 btn-cross"><span class="material-symbols-outlined">minimize</span></button>
    <button class="me-2 btn-cross"><span class="material-symbols-outlined">crop_square</span></button>
    <button class="me-2 btn-cross"><span class="material-symbols-outlined" [routerLink]="['/desktop']">close</span></button>
    </div>
</div>

<div class="d-flex justify-content-center mt-5 pb-5">
<div class="help-section">
    <div class="d-flex align-items-center wrap">
        <div class="icon"><span class="material-symbols-outlined">code_blocks</span></div>
        <div class="description">View all user-published posts (community space). Like a developer-focused Chrome browser for blogs, DevChrome is the place where you can explore all public posts shared by other users. Discover ideas, read dev stories, and stay inspired by fellow developers.</div>
    </div>
    <div class="d-flex align-items-center wrap">
        <div class="icon"><span class="material-symbols-outlined">edit_note</span></div>
        <div class="description">Create or edit blog posts with a code-like experience. Inspired by VS Code, the Dev Editor provides a sleek, developer-friendly interface to write, edit, and preview posts. It supports drafts, markdown, and autosave for seamless content creation.</div>
    </div>
    <div class="d-flex align-items-center wrap">
        <div class="icon"><span class="material-symbols-outlined">folder_open</span></div>
        <div class="description">View all your posts and drafts.  Like a file manager for your content. Easily browse through your published posts and saved drafts, organized neatly in one place. Quick access, filtering, and editing available at your fingertips.</div>
    </div>
    <div class="d-flex align-items-center wrap">
        <div class="icon"><span class="material-symbols-outlined">settings</span></div>
        <div class="description">Customize the app’s look, feel, and preferences.  Adjust theme, font, layout, and notification preferences. This section lets you tailor Devos to match your personal productivity style and comfort.</div>
    </div>
    <div class="d-flex align-items-center wrap">
        <div class="icon"><span class="material-symbols-outlined">calendar_month</span></div>
        <div class="description">Track your writing streak and activity. Stay consistent with your writing habit. The calendar highlights days you've posted content—motivating you to maintain a streak and build your developer writing routine.

        </div>
    </div>
    <div class="d-flex align-items-center wrap">
        <div class="icon"><span class="material-symbols-outlined">delete</span></div>
        <div class="description">Manage deleted posts.  Accidentally deleted something? The Recycle Bin holds all removed posts. You can either restore them back or permanently delete them from here. Safe and reversible post deletion!</div>
    </div>
</div>
</div>
