<div *ngFor="let user of users">
<div class="browser-post d-flex justify-content-center p-4">
  <div class="browser-wrapper">
    
    <!-- Shadow behind the window -->
    <div class="browser-shadow"></div>
    <div class="browser-shadow second"></div>

    <div class="browser-window"> 

      <!-- Post Body -->
      <div class="browser-content d-flex">       
        <div class="user-photo me-4"><img src="male-2.png" alt="profile-photo"></div>
        <div class="user-info flex-grow-1">
          <div class="d-flex justify-content-between"><div class="name">{{user.Name}}</div><div><button class="app-btn">Add to Dev List</button></div></div>
          <div class="username">{{'@' +user.Username}}</div>
          <div>{{user.Bio}}</div>
          <div class="d-flex justify-content-between align-items-center"><div class="d-flex"><div class="me-2">Posts: 4</div><div>Streak: 3</div></div>
        </div>
        </div>
        
      </div>
      <div *ngIf="openElement" class="browser-more">
          <div class="about">
            <div class="more-heading">About</div>
            <div class="more-section">{{user.About}}</div>
          </div>
          <div class="tech-stack">
            <div class="more-heading">Tech Stack</div>
            <div class="more-section">
              <div *ngFor=" let tech of user.TechStack" class="stack me-2">{{tech}}</div>
            </div>
          </div>
          <div class="recent-posts">
             <div class="more-heading">Recent Posts</div>
            <div class="more-section">
              <div *ngIf="user.RecentPosts.length === 0">No Posts Yet.</div>
              <ul>
              <li *ngFor="let post of user.RecentPosts">{{post.PostTitle}}</li>
              </ul>
            </div>
          </div>
          <div class="links">
            <div class="more-heading">Links</div>
            <div class="more-section">
              <ul>
              <li *ngFor="let link of user.SocialLinks">
                {{ link.Platform }}:
                <a [href]="link.Link" target="_blank" class="link">{{ link.Link }}</a>
              </li>
              </ul>
            </div>
          </div>
      </div>
      <div class="d-flex justify-content-end p-2">
        <div class="inspect d-flex align-items-center" (click)="toggleElement()">{{ openElement ? "Hide" :"Inspect Element"}}<span class="material-symbols-outlined" (click)="playsound()">{{ openElement ? "arrow_upward_alt" :"arrow_right_alt"}}</span></div>
      </div>

    </div>

  </div>
</div>
</div>


