[data-theme="theme-2"][data-mode="dark"] {
  --bg-color: #312F2D;
  --text-color: #FBF5E7;
  --primary-color: #F2D5D1;
  --secondary-color: #E6C3BF;
  --bg-image: url('/pink-wall.png');
  --like-img: url('/liked-pink.svg');
  --unlike-img: url('/unlike-btn.svg');
}