[data-theme="default"][data-mode="dark"] {
  --bg-color: #312F2D;
  --text-color: #FBF5E7;
  --primary-color: #C4E7E2;
  --secondary-color: #6AA7A2;
   --bg-image: url('/test.png');
   --like-img: url('/liked-blue.svg');
   --unlike-img: url('/unlike-btn.svg');
}