[data-theme="default"][data-mode="light"] {
  --bg-color: #FBF5E7;
  --text-color: #312F2D;
  --primary-color: #C4E7E2;
  --secondary-color: #6AA7A2;
  --bg-image: url('/test.png');
  --like-img: url('/liked-blue.svg');
  --unlike-img: url('/unlike-btn.svg');
}