/* ****************** GENERAL ********************* */
*{
     font-family: "Mona Sans", sans-serif;
}

#post-page{
  padding-bottom: 100px;
}

.material-symbols-outlined{
    font-family: 'Material Symbols Outlined';
    font-size: 16px; 
}

/* ****************** HEADER ********************* */
.header {
    color: var(--text-color);
    background-color: var(--bg-color);

    height: 80px;
}

.logo{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

/* ****************** MAIN ********************* */

.main {
    background-color: var(--bg-color);
}



