.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 8px 12px;
  background-color: var(--primary-color);
  z-index: 1000;
  border-top: 2px solid #312F2D;
}

.taskbar-start {
  gap: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.taskbar-controls {
  margin-left: auto;
  display: flex;
  gap: 12px;
  color: #312F2D;
  font-size: 14px;
}

.taskbar-item {
  background: none;
  height: 30px;
  border: none;
  color: #312F2D;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.material-symbols-outlined{
  font-size: 30px;
}

.taskbar-item:hover {
  color: #312F2D;
  transform: scale(1.1);
}

.taskbar-search {
  max-width: 250px;
}

.audio-control{
  color:#312F2D;
}

//MEDIA QUERIES
/* Ensure elements don’t overflow on small screens */
@media (max-width: 724px) {

.taskbar-search {
  max-width: 180px;
}

.material-symbols-outlined{
  font-size: 26px;
}

.taskbar-start {
  left: 40%;
}

}

@media (max-width: 596px) {

.taskbar-search {
  max-width: 150px; 
}

  .material-symbols-outlined{
  font-size: 22px;
}

  .taskbar-start {
    left: 35%;
  }
}

@media (max-width: 425px) {

.taskbar-search {
  max-width: 100px; 
}

.material-symbols-outlined{
  font-size: 20px;
}

.taskbar-start {
  left: 30%;
}
}
