<div id="post-page">

<!-- Close Bar -->
<div class="close-bar d-flex justify-content-between align-items-center">
    <div class="ms-2 close-heading">
     DevChrome
    </div>
    <div class="d-flex align-items-center">
    <button class="me-2 btn-cross"><span class="material-symbols-outlined" (click)="playsound()">minimize</span></button>
    <button class="me-2 btn-cross"><span class="material-symbols-outlined" (click)="playsound()">crop_square</span></button>
    <button class="me-2 btn-cross" [routerLink]="['/desktop']" routerLinkActive="router-link-active" (click)="playsound()"><span class="material-symbols-outlined">close</span></button>
    </div>
</div>

<!-- 01 .Header Section -->
<header class="header d-flex justify-content-between align-items-center">

    <!-- LOGO & SEARCH BAR-->
        <div class="d-flex align-items-center">
        <div class="logo ms-3 me-4">
            &lt;/&gt; DevChrome
        </div>
        <!-- Search Bar -->
        <div class="taskbar-search">
        <!-- <span class="material-symbols-outlined">search</span> -->
        <input type="search" placeholder="Type here to search" />
        </div>
        </div>
    <!-- BTN/SEARCH & FILTER -->
        <div class="log-btn d-flex align-items-center me-2">
        <button class="app-btn me-2 filter-btn" (click)="toggleFilter()"><span>Filter</span><span class="material-symbols-outlined">discover_tune</span></button>
        <!-- <button class="app-btn me-2" *ngIf="!auth.isLoggedIn()" (click)="toggleLoginForm()">Log In</button>
        <button class="app-btn me-2" *ngIf="auth.isLoggedIn()" (click)="logout()">Logout</button>
        <button class="app-btn me-2" *ngIf="!auth.isLoggedIn()" (click)="toggleSignupForm()">Sign Up</button> -->
        </div>
    
</header>

<!-- 02. Navigation Bar -->
<nav>
    <ul class="nav ps-5">
        <li class="nav-element ms-5 ps-5">
            <a class="nav-link active">Posts</a>
        </li>
    </ul>
</nav>

<!-- 03. Main Section -->
<main class="main d-flex">

<!-- 3.1 Filter Section -->
<div *ngIf="showFilter" class="filter-panel">
  <h4>Select Category</h4>
  <ul>
    <li *ngFor="let cat of categories"
    [class.selected]="selectedCategory === cat.CategoryName"
    (click)="selectedCategory = cat.CategoryName">
    {{ cat.CategoryName }}
</li>
  </ul>
  <div class="d-flex">
  <button class="app-btn me-2" (click)="applyFilter()" *ngIf="!appliedFilter">Apply Filter</button>
  <button class="app-btn me-2" (click)="removeFilter()" *ngIf="appliedFilter">Remove Filter</button>
  <button (click)="showFilter = false" class="app-btn">Cancel</button>
  </div>
  
</div>

<!-- 3.2 Post Template -->
<div class="d-flex flex-column justify-content-center w-100">
<div class="browser-post d-flex justify-content-center p-4" *ngFor="let post of (filteredPosts.length ? filteredPosts : posts)">

    <div class="browser-wrapper">

      <div class="browser-window">
        
        <!-- Post Header -->
        <div class="browser-header d-flex justify-content-between align-items-center">
                <div class="d-flex">
                <div class="me-2 ms-2">
                  <img [src]="'http://localhost:3000' + post.ProfilePhoto" class="profile-photo">
                </div>
                <div class="user">
                  <div class="big-font">{{ post.Username}}</div>
                  <div class="small-font">{{ post.CreatedAt | date:'short'}}</div>
                </div>
            </div>
            <div class="d-flex">
              <span class="dot me-2"></span>
              <span class="dot me-2"></span>
              <span class="dot"></span>
            </div>
          
        </div>

        <!-- Post Body -->
        <div class="browser-content">       
        <div class="content">
            <div class="title mb-2 big-font">
                <span class="light">&lt;title&gt;</span> {{post.PostTitle}} <span class="light">&lt;/title&gt;</span>
            </div>
            <div class="body d-flex">
                <div class="img"><img [src]="getBase64Image(post.PostPhoto)"></div>
                <div class="description ms-2 medium-font">
                <span class="light">&lt;body&gt;</span>
                {{post.PostDescription}}
                <span class="light">&lt;/body&gt;</span>
            </div>
            </div>
            <div class="categories mt-2">
                <ul class="list-cat d-flex medium-font">
                     <li *ngFor="let cat of post.Categories.split(', ')" [class.filtercat]="selectedCategory === cat">{{ cat }}</li>
                </ul>
            </div>
        </div>

        <!-- Comment & Like -->
        <div class="end-section ">

          <!-- Buttons -->
            <div class="d-flex align-items-center">
              
            <button (click)="toggleLike(post.PostID)" class="d-flex align-items-center justify-content-center me-2 btn-like">
              <span>
                <div *ngIf="isLiked(post.PostID)" class="like-btn me-1"></div>
                <div *ngIf="!isLiked(post.PostID)"class="unlike-btn me-1" width="24px" height="24px"></div>
              </span>
              <span style="font-size: 20px;">{{ likesCount[post.PostID] || 0 }}</span>
              
            </button>

            <button (click)="toggleCommentBox(post.PostID)" class="btn-like">
            <span class=" material-symbols-outlined comment-btn">mail</span>
            </button> 
            </div>

            <div class="comments-section" *ngIf="isCommentBox[post.PostID]">

            <h5 class="big-font">Comments</h5>

            
            <!-- Write Comment -->
            <div class="d-flex align-items-center mb-2">
                <textarea
                class="input-box me-2"
                [(ngModel)]="newComments[post.PostID]"
                placeholder="Write a comment..."
                rows="1"
                cols="40"
              ></textarea>
              <button class="post-btn d-flex align-items-center" (click)="submitComment(post.PostID)">
                Comment
              </button>
            </div>

              <!-- Existing comments -->
              <ul class="comments-list">
                <div *ngIf="!comments[post.PostID]?.length">
                  <li>No comments yet.</li>
                </div>
                <li *ngFor="let comment of comments[post.PostID]" style="list-style: none;" class="d-flex align-items-center">
                <div class="me-2"><strong class="d-flex align-items-center"><span class="material-symbols-outlined me-1">account_circle</span>{{ comment.Username }}</strong></div>
                <div>{{ comment.CommentText }}</div>
              </li>
            </ul>
            </div>
        </div>
        </div>

      </div>

      <div class="browser-shadow"></div>

      <div class="browser-shadow second"></div>
    </div>

    <div class="post-separator">

    </div>

  

</div>
</div>
</main>
</div>




<!-- 2.1 Login Section -->
 <!-- <div *ngIf="showLoginForm" id="modal" class="modal"> 
  <form (ngSubmit)="login()" class="modal-box text-start">
    <div class="head d-flex align-items-center justify-content-between">
    <h3 class="ms-2" style="font-size: 30px;">Login</h3>
    <button class="me-2 btn-cross"><span class="material-symbols-outlined" (click)="toggleLoginForm()">close</span></button>
    </div>
    
    <div class="mb-4 mt-4">
       <label for="username" class="me-2">Enter Username:</label>
        <input
        id="username"
        class="input-box"
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Username"
        required
        />
    </div>

    <div class="mb-5">
    <label for="pw" class="me-2">Enter Password:</label>
    <input
      id="pw"
      class="input-box"
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required
    />
    </div>
    <div class="d-flex justify-content-center">
    <button 
        class="app-btn"
        type="submit">
          Login 
        </button>
    </div>
   
  </form>
  <div *ngIf="loginError" style="color:red">{{ loginError }}</div>
</div>  -->


<!-- 2.1 Signup Section -->
<!-- <div *ngIf="showSignupForm" id="modal" class="modal">
  <form (ngSubmit)="login()" class="modal-box">
    <div class="head d-flex align-items-center justify-content-between">
    <h3 class="ms-2" style="font-size: 30px;">Signup</h3>
    <button class="me-2 btn-cross"><span class="material-symbols-outlined" (click)="toggleSignupForm()">close</span></button>
    </div>

      <div class="avatar-icon">
      </div>
      <button class="app-btn" (click)="toggleAvatar()">Select Avatar</button>

      <div class="avatar-select" *ngIf="showAvatar">
      <div class="avatars d-flex">
      <div class="avatar-option d-flex flex-column align-items-center">
        <label for="avatar1">
          <img src="/uploads/avatars/avatar1.png" alt="Avatar 1">
        </label>
        <input type="radio" id="avatar1" name="avatar" value="avatar1.png" required>
      </div>

      <div class="avatar-option d-flex flex-column align-items-center">
        <label for="avatar2">
          <img src="/uploads/avatars/avatar2.jpg" alt="Avatar 2">
        </label>
        <input type="radio" id="avatar2" name="avatar" value="avatar2.jpg">
      </div>
      </div>
      </div>
      
    
    <div class="mb-4 mt-4">
       <label for="username" class="me-2">Username:</label>
        <input
        id="username"
        class="input-box"
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Username"
        required
        />
    </div>

    <div class="mb-4">
    <label for="pw" class="me-2">Password:</label>
    <input
      id="pw"
      class="input-box"
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required
    />
    </div>

    <div class="mb-4">
    <label for="pw" class="me-2">Confirm Password:</label>
    <input
      id="pw"
      class="input-box"
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required
    />
    </div>

    <div class="mb-5">
    <label class="me-2">Select Role:</label>
    <input type="radio" id="admin"name="role">
    <label for="admin" class="me-2" >Admin</label>
    <input type="radio" id="user" name="role">
    <label for="user" class="me-2" >User</label>

    </div>

    <div class="d-flex justify-content-center mb-4" >
    <button 
        class="app-btn"
        type="submit">
          Sign Up 
        </button>
    </div>
   
  </form>
  <div *ngIf="loginError" style="color:red">{{ loginError }}</div>
</div> -->