[data-theme="theme-3"][data-mode="dark"] {
  --bg-color: #312F2D;
  --text-color: #FBF5E7;
  --primary-color: #F3D499;
  --secondary-color: #F3D499;
  --bg-image: url('/yellow-wall.png');
  --like-img: url('/liked-yellow.svg');
  --unlike-img: url('/unlike-btn.svg');

}